$blue: #1da1f2;
$black: #0f1419;
$dark-gray: #536471;
$light-gray: #aab8c2;
$extra-light-gray: #cad0d5;
$extra-extra-light-gray: #f5f8fa;
$hint: #8c9094;
$theme-default: #ffffff;
$theme-lights-out: #15202b;
$theme-dim: #000000;
$tweet-border: #eff3f4;
$font-stack: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-stack;
}

body {
  color: $black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.bar {
  height: 8px;
  background-color: $blue;
  background-image: linear-gradient(to left, #b721ff 0%, #21d4fd 100%);
}

header {
  // border: 1px red solid;
  padding: 32px 16px;
  text-align: center;

  h1 {
    font-size: 48px;
    font-weight: 700;
  }
}

main {
  // border: 1px pink solid;
  flex: 1;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 32px 16px;
  display: flex;
  align-items: flex-start;

  .form {
    border: 1px $extra-light-gray solid;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    margin-right: 16px;

    h2 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 32px;
    }

    .form-control {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 6px;
      }

      label {
        display: block;
      }

      input,
      textarea {
        display: block;
        font: inherit;
        width: 100%;
        padding: 10px 14px;
        margin: 4px 0;
        border: 1px $extra-light-gray solid;
        border-radius: 8px;
        outline: none;
        transition: border-color 200ms ease-in;

        &:focus {
          border-color: $blue;
        }

        &::placeholder {
          color: #9ca1a5;
        }
      }

      textarea {
        resize: vertical;
      }

      small {
        font-size: 13px;
        color: $hint;
      }

      .username_input {
        display: block;
        color: $hint;
        font: inherit;
        width: 100%;
        padding: 0 14px;
        margin: 4px 0;
        border: 1px $extra-light-gray solid;
        border-radius: 8px;
        outline: none;
        transition: border-color 200ms ease-in, color 200ms ease-in;
        display: flex;
        align-items: center;

        &:focus-within {
          border-color: $blue;
          color: $black;
        }

        &::placeholder {
          color: #9ca1a5;
        }

        input {
          display: inline;
          margin: 0 0 0 2px;
          padding: 10px 0;
          border: none;
        }
      }
    }
  }

  .tweet-desk {
    border: 1px $extra-light-gray solid;
    border-radius: 8px;
    padding: 24px;
    width: 100%;

    h2 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 32px;
    }

    .tweet {
      border: 1px $tweet-border solid;
      padding: 0 16px;
      font-size: 15px;

      .head {
        padding-top: 12px;
        display: flex;
        justify-content: space-between;

        .title {
          display: flex;
          align-items: center;

          img {
            display: inline-block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-right: 12px;
          }

          .text {
            p:first-child {
              font-weight: 700;
            }

            p:nth-child(2) span {
              color: $dark-gray;
            }
          }
        }

        .dots {
          color: $dark-gray;
        }
      }

      .content {
        .message {
          padding-top: 16px;
          font-size: 23px;
        }

        .tweet_info {
          color: $dark-gray;
          padding: 16px 0;
          display: flex;
        }
      }

      .stats {
        border-top: 1px $tweet-border solid;
        color: $dark-gray;
        padding: 16px 4px;
        display: flex;

        .stat {
          margin-right: 24px;

          .count {
            font-weight: 700;
            color: $black;
          }

          &.hide {
            display: none;
          }
        }
      }

      .tail {
        border-top: 1px $tweet-border solid;
        padding: 12px 0;
        display: flex;
        justify-content: space-around;

        svg {
          color: $dark-gray;
        }
      }
    }
  }
}

footer {
  // border: 1px orange solid;
  padding: 32px 16px;

  .foot {
    text-align: center;

    a {
      border-bottom: 1px $black dotted;

      @media (hover: hover) {
        &:hover {
          border-bottom-style: solid;
        }
      }

      @media (hover: none) {
        &:active {
          border-bottom-style: solid;
        }
      }
    }
  }
}
